<div class="container text-center"> 


<div class="container mt-5">
  <div class="row">
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner text-center">
            <div class="carousel-item active">
                <img src="https://th.bing.com/th/id/R.ae4fd96d1179896d8cea0ec54b8c414f?rik=M9T1UDskCfNRWA&pid=ImgRaw&r=0"
                    max-width="1200px" alt="Toy">
            </div>
            <div class="carousel-item">
                <img src="https://th.bing.com/th/id/R.9374500ffcd725e3640088f5db929c32?rik=wFBkYapc8gi47Q&pid=ImgRaw&r=0" width="1200px" height="816px"
                    alt="Cartoy">
            </div>
            <div class="carousel-item">
                <img src="https://th.bing.com/th/id/OIP.LYGwEs39VEkffuha7E_EdgHaEK?w=326&h=183&c=7&r=0&o=5&dpr=1.3&pid=1.7"
                    width="1200px" height="816px" alt="Babytoy">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
      <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"
        integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V"
        crossorigin="anonymous"></script>
  </div>
</div>


</div>
